.base {
    position: relative;
    margin: -108px;
    width: 113%;
  }
  .navigation {
    position: absolute;
    opacity: 3;
    margin-left: -1100px;
    margin-top: 30px;
  }
  .orangeup{
      margin: -150px
  }
  .border{
      margin-top: -850px;
      width: 100%;
  }
  