.footerbase{
    position: relative;
    rotate: 180deg;
    margin-top: -1000px;
    width: 109%;
    margin-left: -250px;
    margin-right: -250px;
}
.bandlandlogo{
    rotate: 180deg;
    position: absolute;
    margin-left: -655px;
    margin-top: -390px;
}
.icons{
    position: absolute;
    margin-left: -638px;
    margin-top: -300px;
}
.footernav{
    position: absolute;
    margin-top: -200px;
    margin-left: -924px;
}
.footer{
    margin-top: -932px;
}